* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background: #f7f4ef;
  color: #1f1f1f;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}